@import 'variables';

.wraper{
	background-color: $bg-wraper;
	width: 85%;
	margin: 0 auto;
	margin-top:9%;
}

.img-profile{
	margin-top: -110px;
	margin-left: 40%;
}

footer {
		div{
			background-color: $bg-footer;
			color: white;
			height: 60px;
			width: 101.2%;
			p{
				margin-top: 1.5%;

			}
		}
}

body{
	background-color: $bg-body;
	div{
		h1{
			text-align: center;
		}
	}
}

body{
	div.wraper{
		div.container-fluid{
			div{
				div.bg-exp{
					background-color: $bg-exp;
					margin-bottom: 3%;
					padding: 1%;

					p.year-name{
						display: inline;
					}

				 	p{
					 	text-align: left;
					 	display: inline-block;
					}
				}
			}
		}
	}
}

strong{
	color: $name;	
}

h2{
	color: $header;
	font-size: 25px;
}

ul{
	margin-top: 5%;
	padding: 0;

	li{
		list-style-type: none;
		margin-bottom: 6%;
	}

	li:nth-child(3){
		i{
			margin-right: 5px;
		}
	}

	li:nth-child(4){
		i{
			margin-right: 1px;
		}
	}
}

div.projects{
	img{
		margin: 2%;
	}
}


